/* app css stylesheet */
#title_div{
    background: wheat;
    margin-left: auto;
    margin-right: auto;
    width: 90%;
    height: 90px;
    margin-top: 0;
    padding-top: 15px;
    text-align: center;
    color: #6399cd;
}

.sub-view{
    margin-top: 10px;
    max-width: 90%;
    margin-left: 55px;
}

#other-menu{
    width: 90%;
    margin-left: 5%;
    background:white url(bg.gif) repeat-x left top;
}

.menu {
  list-style: none;
  border-bottom: 0.1em solid black;
  margin-bottom: 2em;
  padding: 0 0 0.5em;
}

.menu:before {
  content: "[";
}

.menu:after {
  content: "]";
}

.menu > li {
  display: inline;
}

.menu > li:before {
  content: "|";
  padding-right: 0.3em;
}

.menu > li:nth-child(1):before {
  content: "";
  padding: 0;
}

#mainmenu
{
    width: 90%;
    margin-left: 5%;
    background:white url(bg.gif) repeat-x left top;
    text-align: center;
}

#mainmenu ul
{
	padding:6px 20px 5px 20px;
	margin:0px;
}

#mainmenu ul li
{
	display: inline;
}

#mainmenu ul li a
{
	color:#ffffff;
	background-color:transparent;
	font-size:12px;
	font-weight:bold;
	text-decoration:none;
	padding:5px 8px;
}

#mainmenu ul li a:hover, #mainmenu ul li.active a
{
	color: #6399cd;
	background-color:#EFF4FA;
	text-decoration:none;
}

#submenu
{
    color: #6399cd;
    background-color:#9df39f;
}

.login-form{
    margin-top: 50px;
    width: 35% !important;
}

.register-form{
    margin-top: 50px;
    width: 40% !important;
}

#content-main
{
    width: 100%;
}

#showAuthorDetailModal{
    z-index: 1100;
}

#addBookByAuthorModal{
    z-index: 1100;
}

#addAuthorModal{
    z-index: 1100;
}

.author-image{
    width: 30px;
    height: 30px;
}

.round-corners {
    border-radius: 25px;
    border: 1px #6399cd solid ; 
    width: 340px !important;
    height: 150px; 
    margin: 2px 5px 2px 5px;
}

.book-title{
    height: 20px;
}
.book-summary{
    height: 50px;
}

.book-links{
    margin-left: 30px;
}