
<div ng-controller="mainController" class="container-fluid login-form">
    <table class="table">
        <tr>
            <th>Enter username </th>
            <td>
                <div class="inner-addon left-addon">
                    <i class="glyphicon glyphicon-user"></i>      
                    <input type="text" class="form-control" ng-model="loginModel.loginUsername">
                </div>
            </td>
        </tr>
        <tr>
            <th>Enter password </th>
            <td>
                <div class="inner-addon left-addon">
                    <i class="glyphicon glyphicon-asterisk"></i>      
                    <input type="password" class="form-control" ng-model="loginModel.loginPsw">
                </div>
            </td>
        </tr>
        <tr>
            <td></td>
            <td><input type="button" class="btn-success right" data-ng-click="loginMe()" value="Login"></td>
        </tr>
    </table>
</div>