
<div ng-controller="mainController" class="container-fluid login-form">
    <table class="table">
        <tr>
            <th>Enter username </th>
            <td> <input type="text" ng-model="loginModel.loginUsername"></td>
        </tr>
        <tr>
            <th>Enter password </th>
            <td><input type="password" ng-model="loginModel.loginPsw"></td>
        </tr>
        <tr>
            <td></td>
            <td><input type="button" class="btn-success right" data-ng-click="loginMe()" value="Login"></td>
        </tr>
    </table>
</div>