<div ng-controller="RegisterCtrl">    
            
    <table class="register-form table">
        <tr>
            <th>Enter username</th>            
            <td><input type="text" ng-model="registerModel.name" /></td>
        </tr>
        <tr>
            <th>Enter password</th>            
            <td><input type="password" ng-model="registerModel.password" /></td>
        </tr>
        <tr>
            <th>Enter e-mail</th>            
            <td><input type="email" ng-model="registerModel.email" /></td>
        </tr>
        <tr>
            <td></td>
            <td><input type="button" class="btn-success" ng-click="registerMe()" value="Register"></td>
        </tr>
    </table>
</div>
