
<div ng-controller="RegisterCtrl">    
            
    <table class="register-form table">
        <tr>
            <th>Unesi korisničko ime:</th>            
            <td><input type="text" ng-model="registerModel.username" /></td>
        </tr>
        <tr>
            <th>Unesi password:</th>            
            <td><input type="password" ng-model="registerModel.password" /></td>
        </tr>
        <tr>
            <th>Unesi e-mail:</th>            
            <td><input type="email" ng-model="registerModel.email" /></td>
        </tr>
        <tr>
            <td></td>
            <td><input type="button" class="btn-success" ng-click="registerMe()" value="Registruj me"></td>
        </tr>
    </table>
</div>
