<div ng-controller="BooksCtrl" class="sub-view">
    <div id="mainmenu">
        <ul>
            <li><input type="text" ng-model="titleFilter" placeholder="Search book by title"></li>
            <li class="pull-right"><button class="btn-link" ng-click="addBook()">Add new book</button></li>
        </ul>
    </div>
    <div class="row">
        <div class="col-xs-6 col-lg-4 round-corners"  ng-repeat="b in books | filter: titleFilter">
            <h2 class="book-title">{{b.title}}</h2>
            <p class="book-summary">{{b.summary}}</p>
            <div class="book-links">
                <button class="btn btn-primary" ng-click="showBookDetail($index)">See details >></button>
                <button class="btn btn-info" ng-click="showReviews($index)">See reviews >></button>
            </div>
        </div>
    </div>
    <div id="addBookModal" class="modal fade">
        <div add-book-data></div>
    </div>
    <div id="showBookDetailModal" class="modal fade">
        <div class="modal-dialog">
            <div class="modal-content">
                <div class="modal-body">
                    <img class="book-image" ng-src="./images/book_{{selectedBook.id}}">
                    <span>{{selectedBook.title}}</span>
                    <hr>
                <span>
                    {{selectedBook.summary}}
                </span><br><br>
                    <div style="text-align: right;">
                        <span>
                            <b> {{selectedBook.price}} KM</b>
                        </span>
                    </div>
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-success" data-dismiss="modal">Close</button>
                </div>
            </div>
        </div>
    </div>
  <div id="showReviewsModal" class="modal fade">
        <div class="modal-dialog">
            <div class="modal-content">
                <div class="modal-body">
                    <img class="book-image" ng-src="./images/book_{{selectedBook.id}}">
                    <span>{{selectedBook.title}}</span>
                    <div style="text-align: right">
                        <span>
                           Overall rate:  <b>0</b>
                        </span>
                    </div>
                    <hr>
                    <div>
                        <div ng-repeat="bookReview in bookReviews">
                            <span>{{bookReview.content}}</span>
                            <div style="text-align: right">
                                <span>Rate: {{bookReview.rate}}</span>
                            </div><hr>
                        </div>
                       <div add-review-data></div>
                   </div>
               </div>
               <div class="modal-footer">
                   <button type="button" class="btn btn-success" ng-click="addReview()">Add review</button>
                   <button type="button" class="btn btn-success" data-dismiss="modal">Close</button>
               </div>
           </div>
       </div>
   </div>
</div>